
body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}


header{
    display: flex;
    justify-content: space-between;

;
}



#header-button{
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}


#section-1{
    
 margin-left: 150px;
 margin-top: 100px;
}


#main-button{
display: flex;
gap: 10px;
}

#button-2{
    background-color: rgb(141, 6, 237);
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;

}

#button-3{
    background-color: rgb(49, 37, 217);
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

#main-image{
    width: 550px;
    height: 400px;
    border-radius: 10px;
    float: right;
    margin-top: -300px;
    margin-right: 100px;
}



#icon1{
    height: 20px;
    width: 20px;
}

#section-2{
    display: flex;
    margin-top: 100px;
    gap: 70px;
    margin-left: 70px;margin-bottom: 50px;
}