body {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

header {
  display: flex;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1000;
}

nav {
  display: flex;
  gap: 80px;
  margin-left: 220px;
 align-items: center;
  font-size: 18px;
  font-weight: bold;


}

#header-button {
  background-color: rgb(65, 65, 246);
  font-size: large;
  height: 55px;
  width: 105px;
  margin-top: 14px;
  margin-left: 280px;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

#header-button:hover {
 scale: 1.05;
  background-color: rgb(26, 26, 175);
}

.nav-p:hover {
  color: rgb(21, 21, 222);
  cursor: pointer;
}

#section-1 {
  margin-left: 80px;
  margin-top: 150px;
}

#main-button {
  display: flex;
  gap: 10px;
}

#button-2 {
  background-color: rgb(149, 0, 248);
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  height: 55px;
  font-size: large;
}

#button-2:hover {
  background-color: rgb(120, 0, 198);
  cursor: pointer;
  scale: 1.05;
}

#button-3 {
  background-color: rgb(49, 37, 217);
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: large;
  height: 55px;
}

#button-3:hover {
  background-color: rgb(20, 7, 178);
  cursor: pointer;
  scale: 1.05;
}
#main-image {
  width: 550px;
  height: 400px;
  border-radius: 10px;
  float: right;
  margin-top: -360px;
  margin-right: 50px;
}

.icon {
  height:50px;
  width: 50px;
}

#section-2 {
  display: flex;
  margin-top: 150px;
  gap: 30px;
  margin-left: 70px;
  margin-bottom: 50px;
}


footer{
  display: flex;
  gap: 80px;
  margin-left: 70px;
margin-top: 150px;
}
footer a{
  text-decoration: none;


}

.icon2{
  height:30px;
  width: 30px;
}

.icon2:hover{
  scale: 1.2;
  cursor: pointer;
}


pre{
  color: rgb(137, 161, 182);
  font-size: large;
}

.para{
  color: rgb(137, 161, 182);
  width: 300px;
  display:inline;
  inline-height: 2;
}
.Akash:hover{
  cursor: pointer;
  scale: 1.08;
}

.section-2-div{
  width: 400px;
  line-height: 25px;

}